@import '../../sass/styles';

.alert {
  text-align: center;
  padding: 1rem 0;
}

.chart {
  margin: 2rem 0;

  .title {
    font-size: 1.15rem;
    color: var(--text-main)
  }

  .footer {
    text-align: center;
    margin-top: .5rem;
    font-size: .8rem;
    opacity: .7;
  }
  
  .barsWrapper {
    width: 100%;
    margin: .75rem 0;
    padding: 1rem 2rem;
    border-radius: .4em;
    background-color: var(--background-1)
  }

  .item {
    margin: 2rem 0;
    opacity: .75;
    transition: opacity .3s ease-in-out;

    &[data-highlighted=true] {
      opacity: 1;
      .progressWrapper .progress .progressInner {
        background-color: var(--accent-color-0) !important;
      }
    }

    &:hover {
      opacity: 1;
    }

    .progressWrapper {
      width: 100%;
      position: relative;
      .progress {
        margin-bottom: .25rem;
        position: relative;
        height: .5rem;
        width: 100%;
        overflow: hidden;
        border-radius: .4rem;
        .progressInner {
          border-radius: .4rem;
          position: absolute;
          background-color: var(--background-0);
          width: 100%;
          left: -100%;
          height: 100%;
          transition: transform .3s ease-in-out;
        }
      } 
      .highlightedComparison {
        position: absolute;
        top: 50%;
        transform: translate(1rem, -50%);
      }
    }

    .name {
      font-size: 1rem;
      margin-right: .25rem;
      text-transform: uppercase;
    }
    
    .value {
      font-size: .8rem;
      opacity: .75;
    }
  }
}