@import '../../sass/styles';

.alert {
  text-align: center;
  padding: 1rem 0;
}

.chart {
  margin: 2rem 0;
  
  &[data-margin-less] {
    margin: 0
  }

  .title {
    font-size: 1.15rem;
    color: var(--text-main)
  }

  .footer {
    margin-top: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .footerText {
      text-align: center;
      font-size: .8rem;
      opacity: .7;
    }
  }
  
  .barsWrapper {
    width: 100%;
    margin: .75rem 0;
    padding: 1rem 2rem;
    border-radius: .4em;
    background-color: var(--background-1)
  }

  .item {
    margin: 2rem 0;
    opacity: .75;
    transition: opacity .3s ease-in-out;

    &[data-highlighted=true] {
      opacity: 1;
      .progressWrapper .progress {
        transition: background .3s ease-in-out;
        // box-shadow: 0 0 1rem transparent;
        background: transparent;
        &:hover {
          // box-shadow: 0 0 1rem var(--accent-color-0);
          background: var(--accent-color-0-25);
        }
        .progressInner {
          background-color: var(--accent-color-0) !important;
        }
      } 
    }

    &:hover {
      opacity: 1;
    }

    .progressWrapper {
      width: 100%;
      position: relative;
      .progress {
        margin-bottom: .25rem;
        position: relative;
        height: .5rem;
        width: 100%;
        overflow: hidden;
        border-radius: .4rem;
        .progressInner {

          border-radius: .4rem;
          position: absolute;
          background-color: var(--background-0);
          width: 100%;
          left: -100%;
          height: 100%;
          transition: transform var(--transform-duration-3x) ease-in-out;
          
          @keyframes slide-in {
            from {
              max-width: 0%;
              opacity: 0;
            }
            to {
              max-width: 100%;
              opacity: 1;
            }
          }
          animation: slide-in .3s ease-in-out forwards;

        }
      } 
      .highlightedComparison {
        position: absolute;
        top: 50%;
        transform: translate(1rem, -50%);
      }
    }

    .name {
      margin-top: .25rem;
      font-size: .7rem;
      opacity: .75;
      text-transform: uppercase;
    }
    
    .value {
      margin-top: .25rem;
      margin-right: .25rem;
      font-size: 1rem;
    }
  }
}