$highlight-color: #0ce7d5;

$white-0: #fff;
$white-1: #e5e5ea;
$white-2: #d1d1d6;
$black-0: #000;
$black-1: #1c1c1e;
$black-2: #2c2c2e;

$cyan-l: #32ade6;
$cyan-d: #64d2ff;

$pink-l: #ff2d55;
$pink-d: #ff375f;

$green-l: #34c759;
$green-d: #30d158;

$red-l: #ff3b30;
$red-d: #ff453a;

$purple-l: #af52de;
$purple-d: #bf5af2;

$mint-l: #00c7be;
$mint-d: #66d4cf;

@mixin accent-color-gen($color-dark, $color-light) {
  &[data-theme=dark]{
    --accent-color-0: #{$color-dark};
    --accent-color-0-25: #{transparentize($color-dark, .75)};
    --accent-color-1: #{lighten($color-dark, 10%)};
    --accent-color-2: #{lighten($color-dark, 20%)};
    --accent-color-3: #{lighten($color-dark, 30%)};
    --accent-color-1-25: #{transparentize(lighten($color-dark, 10%), .75)};
    --accent-color-1-50: #{transparentize(lighten($color-dark, 10%), .5)};
  }
  &[data-theme=light]{
    --accent-color-0: #{$color-light};
    --accent-color-0-25: #{transparentize($color-light, .75)};
    --accent-color-1: #{darken($color-light, 10%)};
    --accent-color-2: #{darken($color-light, 20%)};
    --accent-color-3: #{darken($color-light, 30%)};
    --accent-color-1-25: #{transparentize(darken($color-light, 10%), .75)};
    --accent-color-1-50: #{transparentize(darken($color-light, 10%), .5)};
  }
}

@mixin setup-color-schemes {
  &[data-theme=dark]{
    --text-main: #{$white-0};
    --background-0: #{$black-0};
    --background-0-75: #{transparentize($black-0, .25)};
    --background-0-50: #{transparentize($black-0, .50)};
    --background-1: #{$black-1};
    --background-1-75: #{transparentize($black-1, .25)};
    --background-1-50: #{transparentize($black-1, .50)};
    --background-2: #{lighten($black-0, 20%)};
    --background-3: #{lighten($black-0, 30%)};
  }
  &[data-theme=light]{
    --text-main: #{$black-0};
    --background-0: #{$white-0};
    --background-0-75: #{transparentize($white-0, .25)};
    --background-0-50: #{transparentize($white-0, .50)};
    --background-1: #{$white-1};
    --background-1-75: #{transparentize($white-1, .25)};
    --background-1-50: #{transparentize($white-1, .50)};
    --background-2: #{darken($white-0, 20%)};
    --background-3: #{darken($white-0, 30%)};
  }
  &[data-accent-color=cyan] {
    @include accent-color-gen($cyan-d, $cyan-l);
  }
  &[data-accent-color=pink] {
    @include accent-color-gen($pink-d, $pink-l);
  }
  &[data-accent-color=green] {
    @include accent-color-gen($green-d, $green-l);
  }
  &[data-accent-color=purple] {
    @include accent-color-gen($purple-d, $purple-l);
  }
  &[data-accent-color=red] {
    @include accent-color-gen($red-d, $red-l);
  }
  &[data-accent-color=mint] {
    @include accent-color-gen($mint-d, $mint-l);
  }
}