$highlight-color: #0ce7d5;

$white-0: #ffffff;
$white-1: #f0f0f0;
$white-2: #dfdfdf;
$black-0: #111;
$black-1: #222;
$black-2: #333;

$cyan: #0ce7d5;
$pink: #f556e8;
$green: #60fd00;
$red: #ff3232;
$purple: #bb56f5;

@mixin accent-color-gen($color) {
  &[data-theme=dark]{
    --accent-color-0: #{$color};
    --accent-color-0-25: #{transparentize($color, .75)};
    --accent-color-1: #{lighten($color, 10%)};
    --accent-color-1-25: #{transparentize(lighten($color, 10%), .75)};
    --accent-color-1-50: #{transparentize(lighten($color, 10%), .5)};
    --accent-color-2: #{lighten($color, 20%)};
  }
  &[data-theme=light]{
    --accent-color-0: #{darken($color, 10%)};
    --accent-color-0-25: #{transparentize(darken($color, 10%), .75)};
    --accent-color-1: #{darken($color, 20%)};
    --accent-color-1-25: #{transparentize(darken($color, 20%), .75)};
    --accent-color-1-50: #{transparentize(darken($color, 20%), .5)};
    --accent-color-2: #{darken($color, 30%)};
  }
}

@mixin setup-color-schemes {
  &[data-theme=dark]{
    --text-main: #{$white-0};
    --background-0: #{$black-0};
    --background-0-75: #{transparentize($black-0, .25)};
    --background-0-50: #{transparentize($black-0, .50)};
    --background-1: #{$black-1};
    --background-1-75: #{transparentize($black-1, .25)};
    --background-1-50: #{transparentize($black-1, .50)};
    --background-2: #{lighten($black-0, 20%)};
    --background-3: #{lighten($black-0, 30%)};
  }
  &[data-theme=light]{
    --text-main: #{$black-0};
    --background-0: #{$white-0};
    --background-0-75: #{transparentize($white-0, .25)};
    --background-0-50: #{transparentize($white-0, .50)};
    --background-1: #{$white-1};
    --background-1-75: #{transparentize($white-1, .25)};
    --background-1-50: #{transparentize($white-1, .50)};
    --background-2: #{darken($white-0, 20%)};
    --background-3: #{darken($white-0, 30%)};
  }
  &[data-accent-color=cyan] {
    @include accent-color-gen($cyan);
  }
  &[data-accent-color=pink] {
    @include accent-color-gen($pink);
  }
  &[data-accent-color=green] {
    @include accent-color-gen($green);
  }
  &[data-accent-color=purple] {
    @include accent-color-gen($purple);
  }
  &[data-accent-color=red] {
    @include accent-color-gen($red);
  }
}