@mixin animate-contents() {
  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translate(0, -1rem);
    }
  
    to {
      opacity: 1;
      transform: translate(0, 0rem);
    }
  }

  opacity: 0;
  animation: animateIn var(--transform-duration-3x) ease-in-out forwards;
} 

@mixin animate-contents-out() {
  @keyframes animateOut {
    from {
      opacity: 1;
      transform: translate(0, 0rem);
    }
  
    to {
      opacity: 0;
      transform: translate(0, 1rem);
    }
  }

  opacity: 0;
  animation: animateOut var(--transform-duration-3x) ease-in-out forwards;
} 