@mixin setup-blur() {
  &[data-disable-blur=false] {
    --blur-amount: .4rem;
    transition: 
      backdrop-filter .3s ease-in-out, 
      -webkit-backdrop-filter .3s ease-in-out, 
      background .3s ease-in-out;
    dialog {
      &[data-displayed=true] {
        &::backdrop {
          backdrop-filter: blur(.4rem);
          -webkit-backdrop-filter: blur(.4rem);
          background: #2c2c2c99;
        }
      }
      &[data-displayed=false] {
        &::backdrop {
          backdrop-filter: blur(0rem);
          -webkit-backdrop-filter: blur(0rem);
          background: transparent;
        }
      }
    }
  }
  &[data-disable-blur=true] {
    --blur-amount: 0rem;
    dialog {
      transition: background .3s ease-in-out;
      &[data-displayed=true] {
        &::backdrop {
          background: #2c2c2cc0;
        }
      }
      &[data-displayed=false] {
        &::backdrop {
          background: transparent;
        }
      }
    }
  }
}

@mixin setup-transform {
  &[data-disable-transform=false] {
    --transform-duration-1x: .15s;
    --transform-duration-2x: .2s;
    --transform-duration-3x: .3s;
  }
  &[data-disable-transform=true] {
    --transform-duration-1x: 0s;
    --transform-duration-2x: 0s;
    --transform-duration-3x: 0s;
  }
}