@import '../../sass/styles';

.resultDisplayer {
  .title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--accent-color-1)
  }
  .subDetails{
    padding: 1rem 0 2rem 0;
    p:not(:last-child) {
      margin-bottom: .5rem;
    }
  } 
  .actions{
    display: flex;
    justify-content: flex-end;
    button:not(:last-child) {
      margin-right: .5rem;
    }
  }
}