@import '../../sass/styles';

.header {
  min-height: 3rem;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translate(0, -.5rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.algorithm {
  animation: animateIn var(--transform-duration-1x) ease-in-out forwards;
  color: var(--accent-color-0);
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes dance {
  0% {
    transform: translate(0,0) scale(1);
  }
  50% {
    transform: translate(0, -0.75rem) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

[dir=ltr] {
  .progressWrapper{
    right: 50%;
    &[data-to-right=true]{
      right: 0;
      transform: translate(0, -50%);
    }
    .dot:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

[dir=rtl] {
  .progressWrapper{
    left: 50%;
    &[data-to-right=true]{
      left: 0;
      transform: translate(0, -50%);
    }
    .dot:not(:last-child) {
      margin-left: .5rem;
    }
  }
}

.progressWrapper {
  @include while-mobile {
    display: none;
  }
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  transition: 
    right var(--transform-duration-3x) ease-in-out, 
    left var(--transform-duration-3x) ease-in-out, 
    transform var(--transform-duration-3x) ease-in-out;
  display: flex;
  .dot {
    background-color: var(--accent-color-0);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: .25;
    box-shadow: 0 0 1rem 0 transparent;
    transition: box-shadow .15s ease-in-out, opacity .15s ease-in-out;
    &[data-active] {
      opacity: 1;
      box-shadow: 0 0 1rem .25rem var(--accent-color-0);
      animation: dance var(--transform-duration-1x) ease-in-out forwards;
    }
  }
}