@import '../../sass/styles';

.resultGallery {
  .title {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    color: var(--text-main)
  }
  .subDetails{
    padding: 1rem 0 2rem 0;
    span:first-child {
      opacity: .75;
    }
    span:not(:first-child) {
      font-weight: bold;
    }
    p:not(:last-child) {
      margin-bottom: .5rem;
    }
  } 
  .actions{
    display: flex;
    justify-content: flex-end;
    button:not(:last-child) {
      margin-right: .5rem;
    }
  }

  .subtitle {
    margin-bottom: .75rem;
    text-transform: uppercase;
    font-size: 1.25rem;
  }


  .item {
    transition: max-height .3s ease-in-out, opacity .35s ease-in-out, padding .3s ease-in-out;
    overflow: hidden;
    
    &[data-displayed=true]{
      max-height: 100vh;
      opacity: 1;
      padding-bottom: 2rem;
    }
    &[data-displayed=false]{
      max-height: 0vh;
      opacity: 0;
      padding-bottom: 0;
    }
  }

  .filters {
    padding: 2rem 0;

    .filtersTitle {
      font-size: 1rem;  
    }

    .chipsWrapper {
      width: 100%;
      overflow-y: auto;
      display: flex;
      flex-wrap: nowrap;
      padding: .75rem 0;
    }

    .chip {
      font-size: .8rem;
      border-radius: 1em;
      white-space: nowrap;
      background: var(--background-1);
      color: var(--text-main);
      border: none;
      transition: background .15s ease-in-out, color .15s ease-in-out, border .15s ease-in-out, transform var(--transform-duration-1x) ease-in-out,;

      &:not(:disabled):active {
        background: var(--accent-color-1);
        color: var(--background-0);
      }

      &:not(:disabled):hover {
        background: var(--accent-color-2);
        color: var(--background-0);
      }

      &[data-active=true] {
        color: var(--background-0);
        background: var(--accent-color-0);
      }

      &[data-active=false] {
        opacity: .75;
      }

      &:not(:last-child) {
        margin-right: .25rem;
      }
    }
  }
}