@import '../../sass/styles';

.resultGallery {
  .title {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    color: $highlight-color
  }
  .subDetails{
    padding: 1rem 0 2rem 0;
    span:first-child {
      opacity: .75;
    }
    span:not(:first-child) {
      font-weight: bold;
    }
    p:not(:last-child) {
      margin-bottom: .5rem;
    }
  } 
  .actions{
    display: flex;
    justify-content: flex-end;
    button:not(:last-child) {
      margin-right: .5rem;
    }
  }

  .subtitle {
    margin-bottom: .75rem;
    text-transform: uppercase;
    font-size: 1.25rem;
  }


  .item {
    margin-bottom: 2rem;
  }
}