@import '../../sass/styles';

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: .5rem 0 .25rem 0;
  
  p {
    opacity: .75;
    font-size: .8rem;
    width: min-content;
    white-space: nowrap;
    padding: 0 .25rem;
  }

  .br {
    height: .04rem;
    background: var(--text-main);
    opacity: .5;
    width: 100%;
    flex-grow: 1;
  }
}
.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@include while-mobile {
  .inputWrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    input {
      width: 100%;
      margin-top: .25rem;
      margin-left: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: .75rem;
    }
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    }
}