.inputWrapper {
  input, select {
    flex-grow: 1;
    width: 100%
  }
  label {
    font-size: .7rem;
    margin-bottom: .25rem;
    opacity: .75;
    transition: opacity .15s ease-in-out;
  }
  margin-bottom: .75rem;
  &:focus-within, &:hover {
    label {
      opacity: 1;
    }
  }
}
.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media screen and (max-width: 1100px) {
  .inputWrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    input {
      width: 100%;
      margin-top: .25rem;
      margin-left: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: .75rem;
    }
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    }
}