@import '../../sass/styles';

.title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: $highlight-color;
}

.algorithmWrapper {
  opacity: 0;
  padding: 2rem;
  border-radius: .4em;
  background: $background-sec;
  box-shadow: 0 0 1rem transparent;
  transition: box-shadow .3s ease-in-out;

  .algorithmsFooter {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: 1100px) {
      &:hover {
        box-shadow: 0 0 1rem 0.5rem transparentize($highlight-color, .75);
      }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:first-child {
    margin-top: 2rem;
  }

  @media screen and (max-width: 1100px) {
    padding: 0;
    background: transparent;
    border-radius: none;
    &:not(:last-child) {
      margin-bottom: 10vh;
    }
  } 
  
  @include animate-contents();
}

.item{
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .header {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: .5rem;

    input {
      appearance: auto;
      margin-right: .5rem;
      font-size: 1.25rem;
      background: $background-sec;
    }

    .title {
      font-size: 1rem;
      margin: 0;
    }

    button {
      background: transparent;
      color: inherit;
      padding: 0;
      border-radius: 0;
      margin-left: 0.75rem;
      &:hover, &:active {
        background: transparent;
      }
    }
  }
  &[data-expanded] {
    .about {
      max-height: 10rem;
    }
  } 
  .about{
    transition: max-height .3s ease-in-out;
    font-size: .8rem;
    margin-bottom: .25rem;
    line-height: 175%;
    max-height: 0rem;
    overflow: hidden;
  }
  .submitWrapper {
    display: flex;
    justify-content: flex-end;
  }
} 