@import '../../sass/styles';

.title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--accent-color-1);
}

.divider {
  height: .1rem;
  margin: 1rem 0;
  background: var(--background-1-75);
  border-radius: .4em;
}

.contentWrapper {
  position: relative;
  margin-top: 2rem;
}

.algorithmWrapper {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;

  &[data-displayed=false] {
    @include animate-contents-out();
  }
  
  &:not([data-displayed=true]) {
    user-select: none;
    pointer-events: none;
  }

  &[data-displayed=true] {
    @include animate-contents();
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 1.5rem;

    .backButton {
      margin-right: .5rem;
    }

    .title {
      font-size: 1.5rem;
      color: var(--text-main);
      margin: 0;
    }
  }

  .about {
    padding: .5rem 0;
  }

  .algorithmsFooter {
    display: flex;
    justify-content: flex-end;
  }
}

.backButton {
  background: transparent;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  position: relative;
  
  svg {
    stroke: var(--text-main);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &:not(:disabled):hover, &:not(:disabled):active {
    background: transparent;
  }
}

.item{
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .header {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: .5rem;

    input {
      appearance: auto;
      margin-right: .5rem;
      font-size: 1.25rem;
      background: var(--background-1);
    }

    .title {
      font-size: 1rem;
      margin: 0;
      &[data-clickable] {
        cursor: pointer;
        user-select: none;
      }
    }

    button {
      background: transparent;
      color: inherit;
      padding: 0;
      border-radius: 0;
      margin-left: 0.75rem;
      &:hover, &:active {
        background: transparent;
      }
    }
  }
  &[data-expanded] {
    .about {
      max-height: 10rem;
    }
  } 
  .about{
    padding: 0;
    transition: max-height .3s ease-in-out;
    font-size: .8rem;
    margin-bottom: .25rem;
    line-height: 175%;
    max-height: 0rem;
    overflow: hidden;
  }
} 
.submitWrapper {
  padding: .5rem 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}