@import '../../sass/styles';

.algorithmSelectorSelectedAlgorithms {
  margin-top: 1rem;
  padding: 1rem;
  border: .04em solid var(--background-2);
  background: var(--background-1);
  border-radius: .6em;
  opacity: 0;
  display: none;

  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translate(0, -1rem);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes animate-out {
    0% {
      opacity: 1;
      transform: translate(0, 0);
      display: block;
    }
    99% {
      opacity: 0;
      transform: translate(0, -1rem);
      display: block;
    }

    100% {
      opacity: 0;
      transform: translate(0, -1rem);
      display: none;
    }
  }

  &[data-displayed=true] {
    animation: animate-in var(--transform-duration-1x) ease-in-out forwards;
    display: block;
  }
  &[data-displayed=false] {
    animation: animate-out var(--transform-duration-1x) ease-in-out forwards;
    display: block
  }

  .header {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .headerActions {
      display: flex;
      button {
        padding: .25rem;
        &:hover{
          background: var(--background-3);
        }
        &:not(:last-child) {
          margin-right: .5rem;
        }
      }
    }
  }

  .actions {
    display: none;

    @include while-desktop {
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;
    }
  }

  .header button,
  .item button {
    background: transparent;
    border: none;
    color: var(--text-main);
    fill: var(--text-main);
    font-weight: 400;
    opacity: .5;
    transform: none;

    &:hover,
    &:active {
      opacity: 1;
      background: transparent;
      border: none;
      transform: none;
    }
  }

  .itemWrapper {
    transition:
      max-height .15s ease-in-out,
      opacity .15s ease-in-out;
    overflow: hidden !important;

    &[data-displayed=true] {
      max-height: 10rem;
      opacity: 1;
    }

    &[data-displayed=false] {
      max-height: 0;
      opacity: 0;
    }
  }

  .item {
    font-size: .8rem;
    div {
      margin: 0;
    }
  }

  @include while-desktop {
    .item {
      padding: .4rem .6rem;
      margin: .4rem 0;
    }
  }
  @include while-mobile {
    .item {
      padding: .4rem 0;
    }
  }
}