.title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #0ce7d5;
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  button{
    &:not(:last-child) {
      margin-right: .75rem;
    }
    &:not([data-primary]){
      color: #0ce7d5;
      border: #0ce7d5 .1rem solid;
      background-color: transparent;
      &:not(:disabled):hover {
        border: #0ce7d5 .1rem solid;
        background-color: transparent;
      }
      &:not(:disabled):active {
        border: #0ce7d5 .1rem solid;
        background-color: transparent;
      }
    }
  }
}

@keyframes animateIn {
  from {
    max-height: 0rem;
    overflow: hidden;
    opacity: 0;
  }
  to {
    max-height: 10rem;
    overflow: hidden;
    opacity: 1;
  }
}

.listDisplay {

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    transition: background-color 1s ease-in-out;

    &:active {
      transition: background-color .05s ease-in-out;
      background-color: #0ce7d585;
    }
  }
  .name {
    font-weight: 600;
    font-size: 1.15rem;
  }
  .processActions {
    button {
      border: none;
      border-radius: 50%;
      background: none;
      &:hover, &:active {
        background: none;
      }
      img {
        width: 1.25rem;
        height: 1.5rem;
      }
      &[data-type=delete] {
        &:hover{
          background: #be000077;
        }
        &:active {
          background: #be0000ab;
        }
      }
      &[data-type=edit] {
        &:hover {
          background: #c0a30077;
        }

        &:active {
          background: #c0a300ab;
        }
      }
    }
  }
}