@import '../../sass/styles';

.title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: $highlight-color
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

@keyframes animateIn {
  from {
    max-height: 0rem;
    overflow: hidden;
    opacity: 0;
  }
  to {
    max-height: 10rem;
    overflow: hidden;
    opacity: 1;
  }
}

.timeSliceInputGroup {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.listDisplay {
  padding: 1rem 1rem;
  border-radius: .4em;
  background-color: $background-sec;

  .alert {
    text-align: center;
    font-size: .8rem;
    opacity: .75;
    padding: .5rem 1rem;
  }

  .item {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 1rem transparentize($highlight-color, 1);
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: .4em;

    &[data-recently-moved] {
      background-color: transparentize($highlight-color, .25);
      box-shadow: 0 0 1rem transparentize($highlight-color, .25);
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .mainInfo {
    display: flex;
    .name {
      margin-right: .5rem;
      font-weight: 600;
      font-size: 1.15rem;
    }
    button {
      padding: .5rem;
      font-size: .6rem;
      width: .75rem;
      height: .75rem;
      opacity: .75;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: transparent;
      color: inherit;
      border: .1rem solid #e0e0e0;
      &:hover, &:active {
        background: transparent;
      }
    }
  }
  .subInfo {
    font-size: .8rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: max-height .3s ease-in-out, padding .3s ease-in-out;
    &[data-shown]{
      padding-top: .75rem;
      max-height: 10rem;
    }

    .subInfoGroup {
      @media screen and (max-width: 1100px) {
        display: flex;
        flex-direction: column;
        .subInfoName {
          font-size: .5rem;
          margin-bottom: .25rem;
        }
      }
    }

    .subInfoName {
      opacity: .5;
    }
  }
  .processActions {
    button {
      border: none;
      border-radius: 50%;
      background: none;
      &:hover, &:active {
        background: none;
      }
      img {
        width: 1.25rem;
        height: 1.5rem;
      }
      &:not(:disabled):hover {
        cursor: pointer;
        transform: none;
      }

      &:not(:disabled):active {
        transform: none;
      }
    }
  }
}