@import '../../sass/styles';

.title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--accent-color-0)
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  .submitButton {
    flex-grow: 1;
  }
}

@keyframes animateIn {
  from {
    max-height: 0rem;
    overflow: hidden;
    opacity: 0;
  }
  to {
    max-height: 10rem;
    overflow: hidden;
    opacity: 1;
  }
}

.timeSliceInputGroup {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.listDisplay {
  padding: 1rem 1rem;
  border-radius: .4em;
  background-color: var(--background-1);

  .alert {
    text-align: center;
    font-size: .8rem;
    opacity: .75;
    padding: .5rem 1rem;
  }

  .item {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 1rem transparent;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: .4em;

    &[data-recently-moved] {
      background-color: var(--accent-color-1-50);
      box-shadow: 0 0 1rem var(--accent-color-1-50);
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .mainInfo {
    display: flex;
    .name {
      font-weight: 600;
      font-size: 1.15rem;
    }
    button {
      padding: .5rem;
      font-size: .4rem;
      width: .75rem;
      height: .75rem;
      opacity: .75;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: transparent;
      color: inherit;
      border: .1rem solid var(--text-main);
      &:hover, &:active {
        background: transparent;
      }
    }
  }
  .subInfo {
    font-size: .8rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: max-height .3s ease-in-out, padding .3s ease-in-out;
    &[data-shown]{
      padding-top: .75rem;
      max-height: 10rem;
    }

    .subInfoGroup {
      width: 50%;
      margin-bottom: .5rem;
      @include while-mobile {
        display: flex;
        flex-direction: column;
        .subInfoName {
          font-size: .5rem;
          margin-bottom: .25rem;
        }
      }
    }

    .subInfoName {
      opacity: .5;
    }
  }
  .processActions {
    button {
      padding: .5rem !important;
      border: none;
      background: none;
      fill: var(--text-main);
      &:hover, &:active {
        background: var(--background-2);
      }
      &:disabled {
        opacity: .5;
      }
      img {
        width: 1.25rem;
        height: 1.5rem;
      }
      &:not(:disabled):hover {
        cursor: pointer;
        transform: none;
      }
      &:not(:disabled):active {
        transform: none;
      }
    }
  }
}

[dir=rtl] {
  .mainInfo .name {
    margin-left: .5rem;
  }
  .backButton {
    margin-left: auto;
  }
  .submitButton {
    margin-right: .5rem;
  }
  .listDisplay .processActions button:not(:last-child) {
    margin-left: .25rem;
  }
}

[dir=ltr] {
  .mainInfo .name {
    margin-right: .5rem;
  }
  .backButton {
    margin-right: auto;
  }
  .submitButton {
    margin-left: .5rem;
  }
  .listDisplay .processActions button:not(:last-child) {
    margin-right: .25rem;
  }
}