@import './sass/styles';

@include while-desktop {
  .main {
    max-width: 1000px;
    width: 80%;
    margin: 10vh auto 20vh auto;
    min-height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }
  .contentBox {
    width: 70%;
    flex-grow: 1;
  }
}

@include while-mobile {
  .chip {
    display: none;
  }
  .main {
    max-width: 100%;
  }
  .contentBox {
    padding: 2rem;
  }
}
