@import '../../sass/styles';

.pwaUpdate {
  .title {
    margin-bottom: 1rem;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    button {
      font-size: .8rem !important;
    }
  }
}

.dialog {
  opacity: 0;
  @include while-mobile {  
    &[data-displayed=true] {
      animation: animateInM forwards var(--transform-duration-2x) ease-in-out;
    }
    &[data-displayed=false] {
      animation: animateOutM forwards var(--transform-duration-2x) ease-in-out;
    }
  }
  @include while-desktop {
    top: 2rem !important;
    right: 2rem !important;
    left: auto !important;
    bottom: auto !important;  
    &[data-displayed=true] {
      animation: animateInD forwards var(--transform-duration-2x) ease-in-out;
    }

    &[data-displayed=false] {
      animation: animateOutD forwards var(--transform-duration-2x) ease-in-out;
    }
  }
}

@keyframes animateInM {
  from {
    transform: translate(0, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animateOutM {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(0, 100%);
  }
}

@keyframes animateInD {
  from {
    transform: translate(calc(100% + 2rem), 0) scale(.75);
    opacity: 0;
  }

  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes animateOutD {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}