@import '../../../sass/styles';

.ganttChart {
  display: flex;
  background-color: $background-sec;
  margin: 1rem .75rem 2rem .75rem;
  .item {
    padding: .75rem;
    position: relative;
    border: .15rem solid lighten($background-sec, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 
      background-color .15s ease-in-out, 
      scale .15s ease-in-out, 
      z-index .15s ease-in-out, 
      box-shadow .15s ease-in-out, 
      color .15s ease-in-out,
      opacity .15s ease-in-out;
    &[data-free-space] {
      background-color: lighten($background-sec, 15%);
    }
    &:hover, &:focus{
      background-color: darken($background-sec, 15%);
      scale: 1.1;
      z-index: 5;
      box-shadow: 0 0 1rem 0 darken($background-sec, 15%);
      .title {
        color: $highlight-color;
      }
    }

    &:not(:first-child):not(:hover)  .leftIndicator {
      display: none;
      opacity: 0;
    }

    .title {
      font-weight: 600;
      text-align: center;
    } 

    .leftIndicator, .rightIndicator {
      position: absolute;
      bottom: -.75rem;
      transform: translate(0, 75%);
      transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    } 

    .rightIndicator {
      right: -.75rem;
    } 
    .leftIndicator {
      left: -.75rem;
    }
  }

  &:hover {
    .item:not(:hover){
      .leftIndicator,
      .rightIndicator {
        transform: translate(0, -.25rem);
        opacity: 0;
      }
    }
  }
}